.full{
  background: #F4F6F9;
}
.vent-modal{
  background: #FFFFFF;
  margin: 0 auto;
  height: 100%;
}
.logo {
  background: #ffffff url(logo.png) no-repeat 50% 24px;
  background-size: 24px;
  width: 100%;
  height: 75px;
}
h2, .asociar{
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
    font-weight: 300 !important;
    text-transform: none !important;
    font-family: 'PayPal-Sans-Big', Helvetica Neue, Arial, sans-serif;
    direction: ltr !important;
    text-align: center !important;
}
.card-container{
  padding-top: 1em;
  min-height: 98px;
}
.card-image{
  border-radius: 6px;
  background-size: 150px;
  min-height: 98px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  border: 0;
  margin: 0 auto;
  display: block;
}
.success{
  width: 25%;
  text-align: center;
  margin: 0 auto;
}
.spa {
  padding-top: 15%;
  height: 100vh;
  margin-bottom: 5%;
}